body {
    color: white;
    background-color: rgb(30 30 30);
    padding-top: 16vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: sans-serif;
}

button {
    /* width: 28vw;
    max-width: 16vmax; */
    margin: 5vh 2px;
    padding: 25px 5px;
    border-radius: 16px;
}

.responsive {
    min-width: 85vmin;
    max-width: 50vmax;
    margin: auto;
    padding: 0;
}

.logo {
    max-height: 15vh;
    max-width: 70vw;
    align-self: center;
    margin-bottom: 4vh;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-column {
    flex-direction: column;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-item {
    flex: 1;
}

.center-text {
    text-align: center;
}

.large-font {
    font-size: large;
}

.larger-font {
    font-size: larger;
}

.xxl-bold-font {
    font-size: xx-large;
    font-weight: bold;
}